body {
	background-image: url("https://cdn.pixabay.com/photo/2016/11/29/01/16/abacus-1866497_960_720.jpg");
	background-size: cover;
}

.container-responsive {
	margin: 5% 0 5% 0;
}

.btn.sizer {
	font-size: 24px;
	border-radius: 15px;
	box-shadow: 1px 5px 5px #494949;
	width: 80px;
	margin: 6px;
}

.btn.xlSizer {
	font-size: 24px;
	border-radius: 15px;
	box-shadow: 1px 5px 5px #494949;
	width: 172px;
	margin: 6px;
}

input {
	border-radius: 10px;
}

input.sizer {
	font-size: 28px;
	margin: 3px 0;

}

.well.center-block {
	border: 0;
	box-shadow: none;
	margin-bottom: 0;
	border-radius: 15px;
	background-color: #e8e5e5;
}

.well.outer {
	box-shadow: 10px 5px 5px #494949;
}

.signature {
	font-size: 20px;
	color: #012623;
	border-radius: 10px;
	background-color: #e8e5e5;
	font-family: 'Raleway', sans-serif;
	padding: 5px 20px;
	box-shadow: 5px 5px 5px #494949;
}